.main {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  cursor: pointer;
}

.container:hover {
  background-color: #181818;
}

.name {
  color: yellow;
  font-weight: 200;
}

.category {
  font-size: small;
  font-style: italic;
  color: grey;
}

.container-items {
  cursor: pointer;
  padding: 5px;
}
