.main {
  padding-top: 100px;
  margin-left: 20px;
  margin-right: 40px;
  max-width: 100%;
}

.header {
  display: flex;
}

.header-img {
  object-fit: contain;
  max-width: 100%;
  max-height: 600px;
}

.header-text {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text h1 {
  align-items: center;
}

.header-text span {
  color: grey;
  margin-left: 5px;

  font-weight: lighter;
}

.title {
  font-size: 5rem;
}
.date {
  font-size: 2rem;
}

.container-genre {
  margin-top: 5px;
}

.text-genre {
  display: inline-block;
  font-style: italic;
  cursor: pointer;
}
.text-genre:hover {
  text-decoration: underline;
}

.status,
.nextEpisode,
.rating {
  display: flex;
  margin-top: 40px;
}

.overview {
  margin-top: 40px;
}

.overview p {
  padding: 10px;
}

.overview-expand {
  display: flex;
}

.overview-expand img {
  cursor: pointer;
}
.overview p {
  display: block;
}

.seasons {
  margin-top: 40px;
}

.cast {
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  /*position fixed */
  .main {
    padding-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .header-text {
    padding-left: 0px;
  }
  .header-img {
    align-self: center;
    margin-bottom: 20px;
    max-width: 80%;
    margin-right: 0px;
  }
  .text-genre {
    font-size: smaller;
  }
  .seasons {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .cast {
    margin-left: 30px;
    margin-right: 30px;
  }
  .title {
    font-size: 2.5rem;
  }
  .date {
    font-size: 1rem;
  }
}
