.container {
  display: flex;
  width: 140px;
  margin-left: 10px;
  flex-direction: column;
  justify-content: flex-start;
}

.original-name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bolder;
  font-size: 1.2rem;
}

.name {
  font-size: 1rem;
}

.img {
  width: 140px;
  object-fit: contain;
}
