.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  background-position: center;
  background-size: cover;
  background-image: url("https://image.tmdb.org/t/p/original/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg");
  z-index: 2;
  position: relative;
}

.banner-content {
  margin-left: 20px;
  margin-right: 20px;
  height: 190px;
  padding-top: 100px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
}

.banner-description {
  width: 45re;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}
