.container {
  z-index: 3;
  position: absolute;
  width: 100%;
}

.banner-nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-link {
  text-decoration: none;
  color: white;
}
.banner-link:active {
  text-decoration: none;
}
