<app-banner></app-banner>
<div class="main">
    <app-row title="NETFLIX ORIGINALS" [url]="netflix" class="main-row" [size]="large" type="tv"></app-row>
    <app-row title="Trending Now"  [url]="trending" class="main-row" [size]="small"></app-row>
    <app-row title="Top Rated TV Shows" [url]="topRated" class="main-row" [size]="small" type="tv"></app-row>
    <app-row title="Action Movies" [url]="action" class="main-row" [size]="small" type="movies"></app-row>
    <app-row title="Comedy Movies" [url]="comedy" class="main-row" [size]="small" type="movies"></app-row>
    <app-row title="Horror Movies" [url]="horror" class="main-row" [size]="small" type="movies"></app-row>
    <app-row title="Romance Movies" [url]="romance" class="main-row" [size]="small" type="movies"></app-row>
    <app-row title="Documentaries" [url]="documentaries" class="main-row" [size]="small" type="movies"></app-row>
  
    
</div>
