.main-row {
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  padding: 20px 20px 20px 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main-row::-webkit-scrollbar {
  display: none;
}

.row-item {
  margin-left: 10px;
  margin-right: 10px;
}

/*



*/
